
#menu-lateral.h1{
position: absolute;
width: 114px;
height: 24px;
left: 212px;
top: 478px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 20px;

color: #FFFFFF;
}

#menu-lateral{
    background-color:#484EA8;
}
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 60px;
  }
.h4,
h4 {
  line-height: normal;
  font-weight: 100;
  font-size: 36px;
  color: #666;
}
b,
strong {
  color: #484ea8;
  font-weight: 420;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    .fadeIn {
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
    }

    .superior {
      padding: 25px;
      border-radius: 5px 0px 0 0px;
      background-color: #484ea8;
    }
    
    .superior h2 {
      font-size: 14px;
      color: white;
      font-weight: 100;
    }
    .superior h1 {
      font-size: 16px;
      color: white;
      padding-top: 25px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100;
    }
    .inferior {
      color: white;
      padding-top: 30px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 4px;
      font-size: 12px;
      background-color: #5153b8;
      border-radius: 0 0 0px 5px;
    }
    .inferior h6 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      margin-bottom: 15px;
    }
    .container.grid-list-xl .layout .flex {
      padding: 0px;
    }
    
    .container {
      margin-top: 45px;
      padding: 12px;
      min-height: 48%;
    }
    .link{
      color: white;
    }
    .link:hover{
      color: white;
    }
    .conteudo {
      margin-top: 25px;
      margin-bottom: 25px;
      padding: 2% 3.5% 3.5% 3.5%;
      background-color: white;
      height: 80%;
      max-height:50%;
      max-width:70%;
      min-height: 80%;
      position: absolute;
      overflow-x: hidden;
      box-shadow: 5px 2px 20px 0px #aaa9a9;
    }
    ::-webkit-scrollbar {
      width: 8px;
  }
   
  ::-webkit-scrollbar-track {
      border-radius: 10px;
      
  }
   
  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #6f75c6;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
    .fa-star:before{
        color: #484ea8;
    }
    img{
      margin-top: 20%;
  }
  h2{
      font-weight: 100
  }
  .grow:hover
{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}